<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<th:block th:fragment="meta-tags">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<META http-equiv="Content-Style-Type" content="text/css">
		<META http-equiv="Content-Script-Type" content="text/javascript">
		<META name="format-detection" content="telephone=no"/>
	</th:block>
	<th:block th:fragment="common-scripts">
		<script type="text/javascript" th:src="@{/assets/jquery/jquery-1.12.4.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/jquery-validation/js/jquery.validate.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/jquery-validation/js/localization/messages_ja.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/js/common.js}"></script>
		<script type="text/javascript" th:src="@{/assets/js/ie10-viewport-bug-workaround.js}"></script>
	</th:block>
	<th:block th:fragment="common-css">
		<link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/assets/fontawesome/css/font-awesome.min.css}" />
		<link rel="stylesheet" th:href="@{/assets/ionicons/css/ionicons.min.css}" />
		<link rel="stylesheet" th:href="@{/assets/css/common.css}" />
		<link rel="stylesheet" th:href="@{/assets/jumbotron.css}" />
		<link rel="stylesheet" th:href="@{/assets/css/ie10-viewport-bug-workaround.css}" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
		<link rel="apple-touch-icon" th:href="@{/assets/apple-icon/apple-touch-icon.png}" />
		<link rel="apple-touch-icon" sizes="57x57" th:href="@{/assets/apple-icon/apple-touch-icon-57x57.png}" />
		<link rel="apple-touch-icon" sizes="72x72" th:href="@{/assets/apple-icon/apple-touch-icon-72x72.png}" />
		<link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/apple-icon/apple-touch-icon-76x76.png}" />
		<link rel="apple-touch-icon" sizes="114x114" th:href="@{/assets/apple-icon/apple-touch-icon-114x114.png}" />
		<link rel="apple-touch-icon" sizes="120x120" th:href="@{/assets/apple-icon/apple-touch-icon-120x120.png}" />
		<link rel="apple-touch-icon" sizes="144x144" th:href="@{/assets/apple-icon/apple-touch-icon-144x144.png}" />
		<link rel="apple-touch-icon" sizes="152x152" th:href="@{/assets/apple-icon/apple-touch-icon-152x152.png}" />
		<link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/apple-icon/apple-touch-icon-180x180.png}" />
	</th:block>
	<th:block th:fragment="datetimepicker-scripts">
		<script type="text/javascript" th:src="@{/assets/moment.js/moment-with-locales.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/datetimepicker/js/bootstrap-datetimepicker.js}"></script>
	</th:block>
	<th:block th:fragment="datetimepicker-css">
		<link rel="stylesheet" th:href="@{/assets/datetimepicker/css/bootstrap-datetimepicker.min.css}" />
	</th:block>
</head>

<body>
	<th:block th:fragment="common-footer">
		<div id="FooterRegion">
		<footer class="footer clearfix" id="footer" role="contentinfo">
		<div class="footerLinks clearfix"><ul class=""><li id="Ftr_TL_SupportCenter">
		<span class="footerLink"><a id="Ftr_TL_SupportCenter_Link" href="" target="_blank">帮助中心</a></span></li>
		<li id="Ftr_TL_Blog"><a class="footerLink" id="Ftr_TL_Blog_Link" href="">家谱网微博</a></li>
		<li id="Ftr_TL_SiteMap"><a class="footerLink" id="Ftr_TL_SiteMap_Link" href="">家谱网移动客户端下载</a></li>
		<li id="Ftr_TL_GiftSubs"><a class="footerLink" id="Ftr_TL_GiftSubs_Link" href="">礼品会员</a></li>
		<li id="Ftr_TL_Careers"><a class="footerLink" id="Ftr_TL_Careers_Link" href="">企业生涯</a></li></ul>
		</div><div class="footerLegal"><span>家铺网©2017-2018</span>
		<span><a id="Ftr_LL_CorporateInfo_Link" href="">商务合作信息</a></span>
		<span><a id="Ftr_LL_Privacy_Link" href="">隐私</a></span>
		<span><a id="Ftr_LL_TermsAndConditions_Link" href="">条款及细则</a></span></div>
		</footer>
		</div>
	</th:block>
</body>
</html>