<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<th:block th:include="layout/layout::common-css"></th:block>
	<th:block th:include="layout/layout::common-scripts"></th:block>
	<title>判断关系</title>
</head>

<body>
	<p th:text="${message}"></p>
	<form action="/5/register" method="post" th:object="${a00005Form}" >
		<p>自然人Aid<input type="text" th:field="*{aId}"/></p>
		<p>自然人Bid<input type="text" th:field="*{bId}"/></p>·
		
		<button type="submit">登录</button>
	</form>
</body>
</html>