<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<th:block th:include="layout/layout::common-css"></th:block>
	<th:block th:include="layout/layout::common-scripts"></th:block>
	<title>登录</title>
</head> 

<body>
	<p th:text="${message}"></p>
	<form action="/1/register" method="post" th:object="${a00001Form}"  class="form-horizontal">
	  <div>	
		<nav style="text-align: center;margin: 40px 0 0;">
		  <a style="text-decoration: none;color: #03678b;cursor: pointer;" href="http://localhost:8080/1">
			 <img class="img-thumbnail" alt="家谱网" src="../../assets/images/logo.png">
		  </a>
		  <p class="help-block">请以安全方式登录您的账户。</p>
		</nav>
	  </div>
	  <div style="max-width: 410px;width: 100%;margin-right: auto;margin-left: auto;">
		  <div style="padding: 20px 20px 20px 0;word-wrap: break-word;">
		  <div style="clear: both;width: 100%;min-height: 1px;padding-left: 20px;float: left;">
		   	  <div class="form-group" style="text-align:center;">
			    <h3> 欢迎登陆使用家谱网</h3>
			  </div>
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">账号</label>
			    <div class="col-sm-10">
			      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
			      <a href="注册账号" target="_blank" style="color:blue; line-height:1.5;">注册账号</a>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
			    <div class="col-sm-10">
			      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
			      <a href="忘记密码" target="_blank" style="color:blue; line-height:1.5;">忘记密码？</a>
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <div class="checkbox">
			        <label>
			          <input type="checkbox">记住密码
			        </label>
			      </div>
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="submit" class="btn btn btn-success">登录</button>
			    </div>
			  </div>
			  </div>
		  </div>
	  </div>
	</form>
</body>
</html>