<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<th:block th:include="layout/layout::common-css"></th:block>
	<th:block th:include="layout/layout::common-scripts"></th:block>
	<title>欢迎加入家谱网</title>
</head>

<body>
	<div class="container">
		<p th:text="${message}"></p>
		<form action="/3/register" method="post" th:object="${a00003Form}" >
		  <div>	
			<nav style="text-align: center;margin: 40px 0 0;">
			  <a style="text-decoration: none;color: #03678b;cursor: pointer;" href="http://localhost:8080/1">
				 <img class="img-thumbnail" alt="家谱网" src="../../assets/images/logo.png">
			  </a>
			  <p class="help-block" style="color:#F00">更改后的新密码不能与原有密码相同</p>
			</nav>
		  </div>
  	      <div style="max-width: 510px;width: 100%;margin-right: auto;margin-left: auto;">
			  <div style="padding: 20px 20px 20px 0;word-wrap: break-word;">
			  <div class="jumbotron" style="clear: both;width: 100%;min-height: 1px;padding-left: 20px;float: left;">
			      <!-- 注册input -->
			   	  <div class="form-group" style="text-align:center;">
				    <h2>家谱网登录密码修改</h2>
				  </div>
				  <!-- 旧密码input -->
				  <div class="form-group">
				    <label for="inputPassword3" class="col-sm-2 control-label" style="width: 100px;">旧密码</label>
			        <input type="password" style="width: 300px;" class="form-control" id="inputPassword2" placeholder="登录密码">
				  </div>
				  <!-- 新密码input -->
				  <div class="form-group">
				    <label for="inputPassword3" class="col-sm-2 control-label" style="width: 100px;">新密码</label>
				    <input type="password" style="width: 300px;" class="form-control" id="inputPassword3" placeholder="密码应由6-20个字符组成">
				  </div>
				  <!-- 密码确认input -->
				  <div class="form-group">
				    <label for="inputPassword3" class="col-sm-2 control-label" style="width: 100px;">密码确认</label>
				    <input type="password" style="width: 300px;" class="form-control" id="inputPassword4" placeholder="密码应由6-20个字符组成">
				  </div>
				  <!-- 邮箱验证码input -->
				  <div class="form-group">
				    <label for="inputPassword3" class="col-sm-2 control-label" style="width: 100px;">验 证 码 </label>
				    <input type="text" style="width: 195px;" id="inputPassword3" placeholder="邮箱验证码">
				    <button type="submit" style="margin-left:3px" class="btn btn-default">发送验证码</button>
				  </div>
				  <!-- 确定按钮 bottun-->
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button type="submit" style="width: 45%;" class="btn btn-success">确定</button>
				      <button type="cancle" style="width: 45%;" class="btn btn-info">取消</button>
				    </div>
				  </div>
			  </div>
			  </div>
	      </div>
		</form>
	</div>
<!-- 	<th:block th:include="layout/layout::common-footer"></th:block> -->
</body>
</html>